body {
  font-family: "メイリオ", sans-serif;
}

// Double image viewer
.cocoa-component-doubleimageviewer-right {
  display: inline;
}

// standard viwer
.cocoa-component-standardviewer-left {
  display: inline-block;
  float: left;
}

.cocoa-component-standardviewer-mainimage {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}

.cocoa-component-standardviewer-mainimage img {
  width: 100%;
}

.cocoa-component-standardviewer-thumbnails {
  width: 160px;
  height: 100%;
  border-left: 2px solid #cbcbcb;
  float:right;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

.cocoa-component-standardviewer-thumbnail {
  padding: 4px 4px 4px 4px;
}

.cocoa-component-standardviewer-thumbnail img {
  width: 150px;
  height: auto;
}

.cocoa-component-standardviewer-thumbnail-highlighted {
  background-color: #428bca;
}
